body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

#navbar {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 20px;
  background-color: #456;
  align-items: center;
  margin-top: 0;

}

#navbar li {
  font-size: 30px;
}

#navbar li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

#navbar li a:hover {
  color: #088178;
}

.home--pic {
  background-image: url("../images/car_parts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  padding: 80px;
}

.home--pic p {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

input[type=text] {
  display: block;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;

}

input[type=submit] {
  display: block;
  margin: 0 auto;
  margin-top: 7px;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #879;
  cursor: pointer;
}

#services h2, #features h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
}

#service-box {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.service {
  width: 200px;
  height: 200px;
  background-color: #659;
  border-radius: 5px;
}

.service h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-size: 25px;
}

.service p {
  padding: 10px;
  font-size: 16px;
}

/* Featured Products */

#feature-products {
  display: flex;
  justify-content: space-around;
}

.product h5 {
  text-align: center;
  font-size: 20px;
  color: #000ccc;
  margin-bottom: 20px;
}

.product img {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #456;
}

#footer-col {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
}

#footer-col h4 {
  margin-bottom: 5px;
  text-decoration: underline;
  font-size: 25px;
}

#footer-col li {
  list-style: none;
  line-height: 25px;
  color: white;
  font-size: 20px;
}

#footer-col li a {
  text-decoration: none;
  line-height: 25px;
  color: white;
}

#footer-col li a:hover {
  color: #689;
}

#copyright {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  width: 100%;
}
